.todo-list-container {
  background-color: #f8f8ff;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 #d3d3d3;
  width: 35vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-list-header h1 {
  font-size: 2em;
  padding: 1em;
}
